<section class="pb-20 bg-blueGray-200">
  <div class="container px-4">
    <div class="flex flex-wrap" style="padding-top: 150px">
      <div class="flex-auto p-5 lg:p-10">
        <div class="relative w-full mb-3 mt-8">
          <label
            class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            for="title"
          >
            title
          </label>
          <input
            type="text"
            id="title"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="title"
            [(ngModel)]="title"
            required
          />
          <label
            class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            for="prioritylevel"
          >
            priority level
          </label>
          <input
            type="number"
            id="prioritylevel"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="prioritylevel"
            [(ngModel)]="prioritylevel"
            required
          />
          <label
            class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            for="dueDate"
          >
            Due Date
          </label>
          <input
            type="date"
            id="dueDate"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="dueDate"
            [(ngModel)]="dueDate"
            required
          />
          <label
            class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            for="description"
          >
            description
          </label>
          <input
            type="text"
            id="description"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="description"
            [(ngModel)]="description"
            required
          />
        </div>
        <div class="text-center mt-6">
          <button
            class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="addTodolist()"
          >
            Add Todo Item
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
